@import "./variables.scss";

.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & img {
        float: left;
        margin-top: 2rem;
        max-width: 35rem;
        max-height: 35rem;
        box-shadow: 2px 2px 10px grey;
    }

    & p {
        float: right;
        margin-left: 2rem;
        margin-top: 2rem;
        width: 40%;
        font-size: 1.1rem;
        line-height: 1.7rem;
        text-align: left;
    }
}

@media only screen and (max-width: 800px) {
    .sobre-mim {
        img {
            max-width: 25rem;
        }
        p {
            width: 100%;
        }
    }
}