@import "./_variables.scss";

body {
    background: url('http://cdn.knowledgehi.com/3840x1080/20180613/5b20a4f1550ce.jpg');
    background-attachment: fixed;
    min-height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.2rem;
}

.titulo-pagina {
    text-align: center;
    font-family: $sub-font;
    text-shadow: 2px 2px 2px black;
    color: $pale-yellow;
}

.subtitulo-pagina {
    text-align: center;
    font-family: $sub-font;
    font-size: 1.7rem;
    color: #edf6f8;
}

//habilidades.js 
#skill-list {
    display: grid;
    margin-left: 10%;
    grid-template-columns: 30% 30% 30%;
    color: #bfbfbf;

    img {
        width: 8rem;
        height: 8rem;
    }

    #cssArr, #jsArr, #dbArr {
        list-style-type: none;
        justify-self: center;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
    
}

// contatos.js 
#contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1rem;
    color: #bfbfbf;
}

@media only screen and (max-width: 800px) {
    #skill-list {
        display: flex;
        flex-direction: column;
    }

    #contatos {
        flex-direction: column;
    }
}