@import "./variables.scss";

body {
    background: url('http://cdn.knowledgehi.com/3840x1080/20180613/5b20a4f1550ce.jpg');
    background-attachment: fixed;
    min-height: 100%;
    font-family: 'Noto Sans JP', sans-serif;;
    font-size: 1.1rem;
}

.titulo-pagina {
    text-align: center;
    font-family: $sub-font;
    text-shadow: 2px 2px 2px black;
    color: $pale-yellow;
}

.subtitulo-pagina {
    text-align: center;
    font-family: $sub-font;
    font-size: 1.7rem;
    color: #edf6f8;
}

// habilidades.js
#habilidadesArr, .tecnologiasArr, #idiomasArr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    margin-left: 13%;
    list-style: none;
    font-size: 1.4rem;

    li::before {
        content:"\2022 ";
        color: #edf6f8;
    }
}

// contatos.js 
#contatos {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media only screen and (max-width: 800px) {
    #habilidadesArr, .tecnologiasArr, #idiomasArr {
        margin-left: 0;
    }
}