@import "./variables.scss";

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: $transparent-bg;
    margin-top: -1rem;

    ul, li, a {
        grid-column: 1 / 4;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        list-style-type: none;
        text-decoration: none;
        font-family: $sub-font;
        font-weight: bold;
        font-size: 1.3rem;
        color: rgb(77, 61, 61);
    }

    a:hover {
        color: wheat;
        text-shadow: 3px 1px 4px black;
        font-size: 1.4rem;
    }

    label, #hamb-btn {
        display: none;
    }
}

// Hamburguer button
@media screen and (max-width: 700px) {
    .navbar {
        ul {
            display: none;
        }
        
        li {
            border: 0.5px solid rgb(140, 140, 140);
            box-shadow: 2px 2px 5px black;
            background-color:#e6e6ff;
            width: 7rem;
            margin-top: 1rem;
            line-height: 3.5rem;
            padding: 0.5rem 0.5rem;
        }

        label {
            display: inline-block;
            background-color: transparent;
            pointer-events: none;
            margin-left: 0.5rem;
        }

        // The hamburger button itself
        label span {
            display: inline-block;
            background-color: #333;
            border-radius: 3px;
            width: 35px;
            height: 5px;
            pointer-events: all;
            cursor: pointer;
            transition: 0.4s;
            
            &:nth-child(2) {
                display: flex;
                align-self: center;
                margin: 3px 0;
            }

            &:nth-child(3) {
                display: flex;
                align-self: flex-end;
                margin: 7px 0;
            }
        }

        // Shows the menu
        input:checked ~ ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: rgba(140, 140, 140, 0.1);
            align-content: space-around;
        }   

        // Turns the hamburger into 'X' when clicked
        input:checked ~ label span{
            &:first-child {
                background-color: transparent;
            }

            &:nth-child(2) {
                transform: translateY(0) rotate(-45deg);
            }

            &:nth-child(3) {
                transform: translateY(0) rotate(45deg);
                margin: -8px 0;
            }
        }
    }
}
