@import url('https://fonts.googleapis.com/css?family=Handlee');
@import "./variables.scss";

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color:$transparent-bg;
    margin-top: -1rem;

    ul, li, a {
        grid-column: 1 / 4;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
        font-family: $handwritten-font;
        font-weight: bold;
        font-size: 1.3rem;
        color: rgb(77, 61, 61);
    }

    a:hover {
        color: antiquewhite;
        text-shadow: 3px 1px 5px black;
    }
}

