@import "./_variables.scss";

.codepen-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;
}

.codepen-list-projects img {
    width: 18rem;
    height: 11rem;
    box-shadow: $grey-shadow;
}

@media only screen and (max-width: 1023px) {
    .codepen-list img{
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .codepen-list {
        display: flex;
        flex-direction: column;
    }
    .codepen-list-projects img {
        max-width: 20rem;
    }
}