@import "./variables.scss";

.timeline {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    z-index: 1;
    
    // Centered line that separates odds and even ids
    &::after {
        content: '';
        z-index: -1;
        background-color: #c5706b;
        position: absolute;
        left: 50%;
        width: 0.3rem;
        height: 75rem;
    }
}

.timeline-item {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: rgb(250, 249, 236);
    box-shadow: $grey-shadow;
    border-radius: 8px;
    list-style-type: none;
    text-align: right;

    padding: 1rem;
    width: 25rem;
    max-width: 60%;

    cursor: pointer;
    // Selects all odd numbered ids from the timeline-item class
    &:nth-child(odd) {
        align-self: flex-end;
        text-align: left;
        margin-right: 10%;
        padding-left: 2rem;
        padding-right: 0;
    }

    &:nth-child(odd) .timeline-item::after {
        right: auto;
        left: -7.5px;
    
    }
}

@media only screen and (max-width: 1023px) {
    .timeline-item {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .timeline-item,
    .timeline-item:nth-child(odd) {
        padding: 15px 7px;
        text-align: center;
        align-items: center;

        & a {
            text-decoration: underline;
        }
    }
}

